<div class="parallax-container">

    <div class="parallax">
        <img <%= image_tag "paralax1.jpg" %>
    </div>

</div>

<div class="section white">

    <div class="row container">
        <h2 class="header">Sistemas de asesorias escolares</h2>
        <p class="grey-text text-darken-3 lighten-3">
          Este texto es de relleno porque no se que chingados
          poner aqui, asi que me voy a dedicar a escribir puras pendejadas,
          no es raro de mi pero andamos viendpo que show con todo el proyecto, 
        </p>
    </div>

</div>

<div class="parallax-container">
    <div class="parallax">
      <img <%= image_tag "paralax2.jpg" %>
    </div>
</div>
